body {
    background-color:rgb(51, 51, 51);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

div.container1 {
    width: 900px;
    margin: 0px auto 0px auto;
    background-color:rgb(236, 234, 234);
    padding: 0px 0px 140px 0px;
    border-radius: 0px 62px 0px 62px;
}


div.container2 {
    padding: 0px 42px 0px 42px;
    color: rgb(46, 46, 46);
    overflow: auto;
}

div.container3 {
    padding: 0px 40px 0px 40x;
}

h1 {
    font-size: 70px;
    color:rgb(245, 245, 245);
}

h2 {
    margin-bottom: 10px;
    font-size: 34px;
    text-decoration: underline;
}

h3 {
    font-size: 28px;
    margin-bottom: 8px;
}

h4 {
    font-size: 22px;
    color:rgba(245, 245, 245, 0.897);
    padding-left: 5px;
    padding-bottom: 8px;
    font-weight:500;
}

h1, h4 {
    margin: 0px;
}

p {
    margin-top: 0px;
}

table {
    font-size: 18px;
    border-collapse: collapse;
    width: 90%;
    margin: 22px auto 0px auto;
    /* border: 1px solid #A8A8A8; */
}

li {
    margin: 6px;
}

button {
    color: white;
    background-color: steelblue;
    padding: 10px 24px 10px 24px;
    border-radius: 4px;
    border: none;
}

button:hover {
    background-color: rgb(21, 108, 179);
}

#title-box {
    align: left;
    margin: 0px auto 0px 0px;
    /* width: 560px; */
    background-color:steelblue;
    border-radius: 0px 62px 0px 0px;
}

#nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 4px 90px 4px 90px;
    background-color: black;
}

#title-text {
    height: 128px;
    display: table-cell;
    vertical-align: middle;
    padding-left: 28px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

/*
#pc-icon {
    width: 64px;
    height: auto;
    position: absolute;

}
*/

#games-grid {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#parts-list {
    padding-top: 10px;
    padding-bottom: 10px;
}

#PC-interactive-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    /*justify-content: center;*/

}

#virtual-PC {
    width: 55%;
    padding: 14px 8px 14px 14px;
    border-radius: 0px 32px 32px 0px;
    background-color: black;
}

#pc-photo {
    width: 90%;
    height: auto;
    border: none;
    /*display: flex;*/
}

#parts-textbox {
    width: 35%;
    height: 480px;
    margin: 12px 0px 0px 28px;
    padding: 12px;
    /*display: flex;*/
}

.text-box {
    background-color: #f7f7f7;
    border-radius: 4px;
}

.indent {
    padding-left: 40px;
    padding-right: 40px;
}

.pc-foot {
    height: 14px;
    width: 10%;
    background-color: black;
}

.pc-foot-gap {
    height: 14px;
    width: 30%;
}

.nav-link {
    color: rgba(255, 255, 255, 0.671);
    text-decoration: none;
}

.nav-link:hover {
    color: rgba(255, 255, 255, 0.863);
}

.strike-through {
    text-decoration: line-through;
}

.grid-box {
    width: 32%;
    display: flex;
    margin-bottom: 14px;
}

.game-image {
    width: 90%;
    margin: 0px auto 0px;
}

.game-image:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 6px rgba(0, 0, 0, 0.19);
}

.build-link:hover {
    color:mediumturquoise;
}

.table .column1 {
    width: 60px;
    padding-left: 8px;
}

.table .column3 {
    padding-right: 8px;
}

.table .align-right {
    text-align: right;
}

.table tr:nth-child(odd) {
    background-color: #A8A8A8;
}

.logo {
    width: 32px;
    height: 32px;
    padding-right: 18px;
    padding-top: 10px;
    padding-bottom: 4px;
}